.article {
    margin: 0 auto;
    .container {
        display: flex;
        gap: 32px;
        
        .article-browser {
            flex: 9;
            .vertical-article {
                margin-bottom: 24px;
            }
        }

        .right-sidebar {
            flex: 5;
        }
    }
}

@media (min-width: 1110px) {
    .article {
        max-width: 1110px;
    }
}