/*
* 重置默认样式
* */

@font-face {
  font-family: 'ZTGJHeiTi';
  src: url('@/assets/font/ZiTiGuanJiaHeiTi-1.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
abbr,article,aside,audio,canvas,datalist,details,figure,footer,hgroup,header,mark,menu,meter,nav,output,progress,section,time,video{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
.article,aside,audio,canvas,datalist,details,figure,footer,hgroup,header,mark,menu,meter,nav,output,progress,section,time,video{
    display: block;
}
body {
    line-height: 1;
}
ol, ul ,li{
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before,blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 加载字体资源 */
  
  // font-family: "黑体", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Open Sans", "Microsoft YaHei", sans-serif;
}
html {
    font-size: 24px;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 20px; 
    }
    @media screen and (max-width: 768px) {
        /* 
           移动端适配：
           375px 设计稿基准 -> 20px (1rem)
           计算公式: 20px / 375px = 0.053333333333333336
           0.053333333333333336 * 100vw = 5.333333333333334vw
           限制范围: 16.8px (0.8x) ~ 24px (1.2x)
        */
        font-size: clamp(16.8px, 5.333333333333334vw, 24px);
    }
}
body {
    color: var(--text-color);  
    background-color: var(--bg-color);  
    font-size: @base-font-size;
    line-height: normal;
    font-family: 'ZTGJHeiTi', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Microsoft YaHei', sans-serif;
}

.container {
    max-width: @max-content-width;
    margin: 0 auto;
}
@media screen and (max-width: @max-content-width) {
    .container {
        padding: 0 20px;
    }
}
/* element-plus 全局样式 */
:deep(.el-button) { 
    padding: 8px 16px; 
}

/* md 预览样式 */
:deep(.md-editor-preview) {
    font-size: @font-size-md;
    content-visibility: auto;
    contain-intrinsic-size: 1000px; 

    --md-theme-color: var(--text-color);

    > *:first-child {
        margin-top: 12px;
    }
    code {        
        & > * {
            font-size: @font-size-sm;
            letter-spacing: 0.05em;
        }
        &:not(pre code) {
            font-size: @font-size-sm;
            line-height: normal;
            margin: 0 4px;
        }
    }
}
